In [4]:
import pandas as pd
from functools import reduce

In [6]:
# read data
num_consumer = pd.read_csv('../data/curated/pred_total_num_consumer.csv')
num_transaction = pd.read_csv('../data/curated/pred_total_num_transaction.csv')
revenue = pd.read_csv('../data/curated/pred_total_revenue.csv')

# merge three data frames based on merchant abn
data_frames = [num_consumer, num_transaction, revenue]
df_merged = reduce(lambda left,right: pd.merge(left,right,on=['merchant_abn'], how='outer'), data_frames)
df_merged

,merchant_abn,y_pred_total_num_consumer,y_pred_total_num_transaction,y_pred_total_revenue
0,10023283211,2131.143386,2215.463738,5.135353e+05
1,10142254217,1904.682106,1983.130850,3.639309e+05
2,10187291046,232.439735,230.906400,7.583703e+04
3,10192359162,243.700159,240.472985,5.817489e+05
4,10206519221,5679.090531,6529.635765,1.621134e+06
...,...,...,...,...
3963,99938978285,9310.360959,11822.405141,1.562756e+06
3964,99974311662,97.297453,101.509131,6.501456e+04
3965,99976658299,11453.366640,15851.457335,1.665152e+07
3966,99987905597,101.449943,105.900595,1.552476e+05
3967,99990536339,13.328861,19.965434,3.781229e+03