In [1]:
import pandas as pd
from functools import reduce

In [2]:
# read data
num_consumer = pd.read_csv('../data/curated/pred_total_num_consumer.csv')
num_transaction = pd.read_csv('../data/curated/pred_total_num_transaction.csv')
revenue = pd.read_csv('../data/curated/pred_total_revenue.csv')
merchant_info = pd.read_csv('../data/curated/merchant.csv')

# merge three data frames based on merchant abn
data_frames = [merchant_info, num_consumer, num_transaction, revenue]
df_merged = reduce(lambda left,right: pd.merge(left,right,on=['merchant_abn'], how='outer'), data_frames)
df_merged

,merchant_abn,name,tags,revenue_level,take_rate,pred_total_num_consumer,pred_total_num_transaction,pred_total_revenue
0,10023283211,Felis Limited,furniture,e,0.18,2131.244593,2215.621019,4.383170e+05
1,10142254217,Arcu Ac Orci Corporation,cable,b,4.22,1904.912599,1983.366936,3.296245e+05
2,10165489824,Nunc Sed Company,jewelry,b,4.40,NaN,NaN,NaN
3,10187291046,Ultricies Dignissim Lacus Foundation,watch,b,3.29,232.648056,231.167248,9.578310e+04
4,10192359162,Enim Condimentum PC,music,a,6.33,241.747418,238.402629,7.323220e+05
...,...,...,...,...,...,...,...,...
4021,99938978285,Elit Dictum Eu Ltd,opticians,b,4.50,9315.105067,11827.344860,1.324647e+06
4022,99974311662,Mollis LLP,books,b,3.17,97.661042,101.943103,8.080374e+04
4023,99976658299,Sociosqu Corp.,shoe,a,6.57,11441.692197,15838.308518,1.651803e+07
4024,99987905597,Commodo Hendrerit LLC,motor,a,6.82,102.357842,106.959180,2.045275e+05
4025,99990536339,Massa PC,motor,e,0.18,14.596244,21.421550,6.160564e+03

In [3]:
# impute missing values and negative values with zero
df_merged = df_merged.fillna(0)
num = df_merged._get_numeric_data()
num[num < 0] = 0
df_merged

,merchant_abn,name,tags,revenue_level,take_rate,pred_total_num_consumer,pred_total_num_transaction,pred_total_revenue
0,10023283211,Felis Limited,furniture,e,0.18,2131.244593,2215.621019,4.383170e+05
1,10142254217,Arcu Ac Orci Corporation,cable,b,4.22,1904.912599,1983.366936,3.296245e+05
2,10165489824,Nunc Sed Company,jewelry,b,4.40,0.000000,0.000000,0.000000e+00
3,10187291046,Ultricies Dignissim Lacus Foundation,watch,b,3.29,232.648056,231.167248,9.578310e+04
4,10192359162,Enim Condimentum PC,music,a,6.33,241.747418,238.402629,7.323220e+05
...,...,...,...,...,...,...,...,...
4021,99938978285,Elit Dictum Eu Ltd,opticians,b,4.50,9315.105067,11827.344860,1.324647e+06
4022,99974311662,Mollis LLP,books,b,3.17,97.661042,101.943103,8.080374e+04
4023,99976658299,Sociosqu Corp.,shoe,a,6.57,11441.692197,15838.308518,1.651803e+07
4024,99987905597,Commodo Hendrerit LLC,motor,a,6.82,102.357842,106.959180,2.045275e+05
4025,99990536339,Massa PC,motor,e,0.18,14.596244,21.421550,6.160564e+03

### Ranking System
The ranking system utilises predicted "total number of consumers", "total number of transactions" and "total revenue" next year and give each merchant a score within 0-100. The ranking score is calculated as follows:

1. Standardise each attribute using min-max normalization 
2. Total number of consumers * 30%
3. BNPL revenue * 40%
4. Total number of transactions * 30%

Revenue accounts for a larger proportion because it is considered to be an important thing to the BNPL company.

In [4]:
# min-max normalization
features = ['pred_total_num_consumer', 'pred_total_num_transaction', 'pred_total_revenue']
for col in features:
    df_merged[f'scaled_{col}'] = 100 * (df_merged[col] - df_merged[col].min()) / (df_merged[col].max() - df_merged[col].min())    

df_merged.head()

,merchant_abn,name,tags,revenue_level,take_rate,pred_total_num_consumer,pred_total_num_transaction,pred_total_revenue,scaled_pred_total_num_consumer,scaled_pred_total_num_transaction,scaled_pred_total_revenue
0,10023283211,Felis Limited,furniture,e,0.18,2131.244593,2215.621019,438316.982483,9.502798,1.112250,1.071427
1,10142254217,Arcu Ac Orci Corporation,cable,b,4.22,1904.912599,1983.366936,329624.532170,8.493628,0.995658,0.805738
2,10165489824,Nunc Sed Company,jewelry,b,4.40,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,10187291046,Ultricies Dignissim Lacus Foundation,watch,b,3.29,232.648056,231.167248,95783.104746,1.037332,0.116047,0.234133
4,10192359162,Enim Condimentum PC,music,a,6.33,241.747418,238.402629,732321.957084,1.077904,0.119679,1.790096

In [5]:
# calculate ranking score for each merchant
df_merged['score'] = 0.3*df_merged['scaled_pred_total_num_consumer'] + 0.3*df_merged['scaled_pred_total_num_transaction'] + 0.4*df_merged['scaled_pred_total_revenue']

df_merged['rank'] = df_merged['score'].rank(ascending=False)
df_merged = df_merged.set_index('rank').sort_index()
df_merged.head()

,merchant_abn,name,tags,revenue_level,take_rate,pred_total_num_consumer,pred_total_num_transaction,pred_total_revenue,scaled_pred_total_num_consumer,scaled_pred_total_num_transaction,scaled_pred_total_revenue,score
rank,,,,,,,,,,,,
1.0,86578477987,Leo In Consulting,watch,a,6.43,18356.113566,186946.749066,3.992515e+07,81.846275,93.847990,97.593499,91.745679
2.0,45629217853,Lacus Consulting,gift,a,6.98,20191.435558,152028.388588,3.819332e+07,90.029612,76.318838,93.360191,87.248612
3.0,89726005175,Est Nunc Consulting,tent,a,6.01,20434.182107,148236.132238,3.587346e+07,91.111971,74.415111,87.689512,84.733930
4.0,49891706470,Non Vestibulum Industries,tent,a,5.80,19570.482775,169802.295225,3.046344e+07,87.260907,85.241408,74.465184,81.536768
5.0,21439773999,Mauris Non Institute,cable,a,6.10,22388.332445,81951.886245,3.705975e+07,99.825141,41.140163,90.589293,78.525308

### Split Merchants into 4 Segments
Based on [Merchant Cateogry Groups by ANZ](https://www.anz.com/Documents/Business/CommercialCard/Merchant_cateogry_codes_control.pdf), we devide all merchant into 4 categories.

1. Health service: health, optician

2. Recreational good retailing: bicycle, books, stationary, hobby, tent, digital goods, 

3. Personal & household good retail: antique, watch, jewellery, music, artist supply, gift, art dealer, florists, furniture, shoe, garden supply, 

4. Technical & machinery service: cable, telecom, computer, equipment, motor

In [6]:
# split merchants into 4 segments
segment = {
    'furniture': 'personal & household good retail',
    'cable': 'technical & machinery service',
    'watch': 'personal & household good retail',
    'music': 'personal & household good retail',
    'gift': 'personal & household good retail',
    'computer': 'technical & machinery service',
    'equipment': 'technical & machinery service',
    'artist supply': 'personal & household good retail',
    'florists': 'personal & household good retail',
    'motor': 'technical & machinery service',
    'books': 'recreational good retailing',
    'jewelry': 'personal & household good retail',
    'stationery': 'recreational good retailing',
    'tent': 'recreational good retailing',
    'art dealer': 'personal & household good retail',
    'bicycle': 'recreational good retailing',
    'digital goods': 'recreational good retailing',
    'shoe': 'personal & household good retail',
    'opticians': 'health service',
    'antique': 'personal & household good retail',
    'health': 'health service',
    'hobby': 'recreational good retailing',
    'garden supply': 'personal & household good retail',
    'telecom': 'technical & machinery service'
}

df_merged['segment'] = df_merged['tags'].map(segment)

In [7]:
# find top 100 merchants overall
top100 = df_merged.loc[df_merged.index <= 100]
top100.to_csv('../data/curated/top100.csv')

In [13]:
top100.head(20)

,merchant_abn,name,tags,revenue_level,take_rate,pred_total_num_consumer,pred_total_num_transaction,pred_total_revenue,scaled_pred_total_num_consumer,scaled_pred_total_num_transaction,scaled_pred_total_revenue,score,segment
rank,,,,,,,,,,,,,
1.0,86578477987,Leo In Consulting,watch,a,6.43,18356.113566,186946.749066,3.992515e+07,81.846275,93.847990,97.593499,91.745679,personal & household good retail
2.0,45629217853,Lacus Consulting,gift,a,6.98,20191.435558,152028.388588,3.819332e+07,90.029612,76.318838,93.360191,87.248612,personal & household good retail
3.0,89726005175,Est Nunc Consulting,tent,a,6.01,20434.182107,148236.132238,3.587346e+07,91.111971,74.415111,87.689512,84.733930,recreational good retailing
4.0,49891706470,Non Vestibulum Industries,tent,a,5.80,19570.482775,169802.295225,3.046344e+07,87.260907,85.241408,74.465184,81.536768,recreational good retailing
5.0,21439773999,Mauris Non Institute,cable,a,6.10,22388.332445,81951.886245,3.705975e+07,99.825141,41.140163,90.589293,78.525308,technical & machinery service
6.0,32361057556,Orci In Consequat Corporation,gift,a,6.61,21544.352688,58447.433467,3.986728e+07,96.062002,29.340837,97.452059,76.601675,personal & household good retail
7.0,64403598239,Lobortis Ultrices Company,music,a,6.31,22427.549126,77913.665936,3.527895e+07,100.000000,39.112961,86.236284,76.228402,personal & household good retail
8.0,43186523025,Lorem Ipsum Sodales Industries,florists,b,4.47,21166.878850,138185.373344,2.754323e+07,94.378921,69.369591,67.326996,76.055352,personal & household good retail
9.0,24852446429,Erat Vitae LLP,florists,c,2.94,18360.089252,199201.654640,1.945103e+07,81.864002,100.000000,47.546338,73.577736,personal & household good retail
10.0,94493496784,Dictum Phasellus In Institute,gift,a,5.65,22215.379057,67344.125535,3.361370e+07,99.053976,33.807011,82.165735,72.724590,personal & household good retail
11.0,48534649627,Dignissim Maecenas Foundation,opticians,a,6.64,19775.269172,43683.467416,3.960797e+07,88.174009,21.929269,96.818183,71.758257,health service
12.0,72472909171,Nullam Consulting,digital goods,a,6.33,22426.067947,69836.312755,3.032194e+07,99.993396,35.058099,74.119315,70.163174,recreational good retailing
13.0,64203420245,Pede Nonummy Corp.,tent,c,2.86,19414.903400,179699.117393,1.696257e+07,86.567209,90.209651,41.463501,69.618459,recreational good retailing
14.0,79417999332,Phasellus At Company,gift,b,4.95,22366.329274,67962.707767,2.975859e+07,99.727033,34.117542,72.742245,69.250271,personal & household good retail
15.0,63290521567,Vehicula Pellentesque Corporation,artist supply,a,6.48,22116.580905,119952.975354,2.076855e+07,98.613454,60.216857,50.766897,67.955852,personal & household good retail
16.0,46804135891,Suspendisse Dui Corporation,opticians,c,2.93,20636.810998,156435.387950,1.567832e+07,92.015453,78.531169,38.324277,66.493697,health service
17.0,60956456424,Ultricies Dignissim LLP,gift,b,4.69,22124.554242,62201.975722,2.578841e+07,98.649006,31.225632,63.037496,64.177390,personal & household good retail
18.0,68216911708,Placerat Eget Venenatis Limited,computer,c,3.05,22166.151678,123782.007482,1.486404e+07,98.834481,62.139046,36.333827,62.825589,technical & machinery service
19.0,49322182190,Gravida Mauris Incorporated,watch,a,6.35,18295.666816,35169.461664,3.234495e+07,81.576755,17.655206,79.064367,61.395335,personal & household good retail
20.0,96680767841,Ornare Limited,motor,a,5.91,13317.672419,20392.769963,4.090964e+07,59.380864,10.237249,100.000000,60.885434,technical & machinery service

In [8]:
# find top 10 merchants in each segment
personal_top10 = df_merged.loc[df_merged['segment']=='personal & household good retail'].head(10)
personal_top10.to_csv('../data/curated/personal_top10.csv')

In [9]:
technical_top10 = df_merged.loc[df_merged['segment']=='technical & machinery service'].head(10)
technical_top10.to_csv('../data/curated/technical_top10.csv')

In [10]:
recreational_top10 = df_merged.loc[df_merged['segment']=='recreational good retailing'].head(10)
recreational_top10.to_csv('../data/curated/recreational_top10.csv')

In [11]:
health_top10 = df_merged.loc[df_merged['segment']=='health service'].head(10)
health_top10.to_csv('../data/curated/health_top10.csv')